@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,300;1,500;1,600;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-synthesis: none;
  list-style: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: red;
}
